<div class="widget module{{ module }} {% if columns != 'list' %} grid{% endif %}{% if contrast %} contrast-bg{% endif %}{% if carousel and rows > 1 %}  multiple-rows{% endif %}" {% if use_margin %}style="margin-bottom: {{ margin }}"{% endif %}> 
{% if block_title %}
<!-- Block Title -->
<div class="widget-title">
{% if title_preline %}<p class="pre-line">{{ title_preline }}</p>{% endif %}
{% if title %} 
<p class="main-title"><span>{{ title }}</span></p>
<p class="widget-title-separator"><i class="icon-line-cross"></i></p>
{% endif %}
{% if title_subline %}
<p class="sub-line"><span>{{ title_subline }}</span></p>
{% endif %}
</div>
{% endif %}
{% if tabs|length > 1 %}
<!-- Tabs -->
<ul id="tabs-{{ module }}" class="nav nav-tabs {{ tabstyle }}" data-tabs="tabs" style="">
    {% for keyTab, tab in tabs %}
        {% if keyTab == 0 %}
        <li class="active"><a href="#tab{{ module }}{{ keyTab }}" data-toggle="tab">{{ tab.title }}</a></li>
        {% else %}
        <li><a href="#tab{{ module }}{{ keyTab }}" data-toggle="tab">{{ tab.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<div class="tab-content has-carousel {% if not carousel %}overflow-hidden{% endif %}">
<!-- Product Group(s) -->
{% for key, tab in tabs %}
<div class="tab-pane{% if key == 0 %} active in{% endif %} fade" id="tab{{ module }}{{ key }}">
    <div class="grid-holder grid{{ columns }} prod_module{{ module }}{% if carousel %} carousel{% endif %}{% if carousel_a and rows > 1 %} sticky-arrows{% endif %}">
        {% for product in tab.products %}
            <div class="item single-product">
            <div class="image"{% if columns == 'list' %} style="width:{{ img_width }}px"{% endif %}>
                <a href="{{ product.href }}">
                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% if product.thumb2 %}
                <img class="thumb2" src="{{ product.thumb2 }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% endif %}
                </a>
            {% if product.price and product.special and product.sale_badge %}
                <div class="sale-counter id{{ product.product_id }}"></div>
				<span class="badge sale_badge"><i>{{ product.sale_badge }}</i></span>
            {% endif %}
            {% if product.new_label %}
                <span class="badge new_badge"><i>{{ basel_text_new }}</i></span>
            {% endif %}
			{% if ((product.quantity < 1) and (stock_badge_status)) %}
				<span class="badge out_of_stock_badge"><i>{{ basel_text_out_of_stock }}</i></span>
				{% set button_cart = basel_text_out_of_stock %}
			{% else %}
				{% set button_cart = default_button_cart %}
			{% endif %}
            <a class="img-overlay" href="{{ product.href }}"></a>
            <div class="btn-center catalog_hide"><a class="btn btn-light-outline btn-thin" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{ button_cart }}</a></div>
            <div class="icons-wrapper">
           <!-- <a class="icon is-cart catalog_hide" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="global-cart"></span></a>-->
            <a class="icon is_wishlist" data-toggle="tooltip" data-placement="{{ tooltip_align }}"  data-title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span></a>
            <a class="icon is_compare" onclick="compare.add('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_compare }}"><span class="icon-refresh"></span></a>
            <a class="icon is_quickview hidden-xs" onclick="quickview('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ basel_button_quickview }}"><span class="icon-magnifier-add"></span></a>
            </div> <!-- .icons-wrapper -->
            </div><!-- .image ends -->
            <div class="caption">
                <a class="product-name" style="min-height: 16px; margin-bottom: 0;" href="{{ product.href }}">{{ product.name }}</a><p style="color: #a68d6f;" class="small">{{ product.manufacturer }}</p>
            {% if product.rating %}      
                <div class="rating">
                <span class="rating_stars rating r{{ product.rating }}">
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </span>
                </div>
            {% endif %}
                <div class="price-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            {% if product.price %}
                                <div class="price">
                                    {% if product.special %}
                                        <span class="price-old price">{{ product.price }}</span>
                                        <span class="price-new">{{ product.special }}</span>
                                    {% else %}
                                        <span class="price">Cijena</span>
                                        <span>{{ product.price }}</span>
                                    {% endif %}
                                    {% if product.tax %}
                                        <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                                    {% endif %}
                                </div><!-- .price -->
                            {% endif %}
                        </div>
                        <div class="col-lg-8">
                            <div class="input-group">
                                {% if product.options %}
                                    {% for option in product.options %}
                                        {% if option.type == 'select' %}
                                            <select name="option[{{ option.product_option_id }}{{ key }}]" id="input-option{{ option.product_option_id }}" class="form-control num{{ product.product_id }}">
                                                {% for option_value in option.product_option_value %}
                                                    <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}</option>
                                                {% endfor %}
                                                <option value="+">+</option>
                                            </select>
                                            <script>
                                                $('[name="option[{{ option.product_option_id }}{{ key }}]"]').otherDropdown({classes:'form-control', value:'+', placeholder:'Upiši', max: '{{ product.scale.max }}' })
                                            </script>
                                            {% for option_value in option.product_option_value %}
                                                {% if option_value.price == 0 %}
                                                    <input type="hidden" id="input-default{{ option.product_option_id }}" value="{{ option_value.product_option_value_id }}">
                                                {% endif %}
                                            {% endfor %}
                                            <span class="input-group-btn">
                                                <button class="btn btn-neutral btn-green" onclick="javascript:void(0); kosarica_dodaj({{ product.product_id }}, '{{ product.scale|json_encode|escape }}', '{{ option.product_option_id }}');">
                                                    <span class="global-cart"></span>
                                                </button>
                                            </span>
                                        {% endif %}
                                    {% endfor %} <!-- foreach option -->
                                {% endif %}
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div><!-- .price-wrapper -->

            <div class="plain-links">
            <a class="icon is_wishlist link-hover-color" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span> {{ button_wishlist }}</a>
            <a class="icon is_compare link-hover-color" onclick="compare.add('{{ product.product_id }}');"><span class="icon-refresh"></span> {{ button_compare }}</a>
            <a class="icon is_quickview link-hover-color" onclick="quickview('{{ product.product_id }}');"><span class="icon-magnifier-add"></span> {{ basel_button_quickview }}</a>
            </div><!-- .plain-links-->
            </div><!-- .caption-->
            {% if product.sale_end_date and countdown_status %}
            <script>
			  $(function() {
				$(".module{{ module }} .sale-counter.id{{ product.product_id }}").countdown("{{ product.sale_end_date }}").on('update.countdown', function(event) {
			  var $this = $(this).html(event.strftime(''
				+ '<div>'
				+ '%D<i>{{ basel_text_days }}</i></div><div>'
				+ '%H <i>{{ basel_text_hours }}</i></div><div>'
				+ '%M <i>{{ basel_text_mins }}</i></div><div>'
				+ '%S <i>{{ basel_text_secs }}</i></div></div>'));
			});
			  });
			</script>
            {% endif %}
            </div><!-- .single-product ends -->
        {% endfor %}
    </div>
</div>
{% endfor %}
{% if use_button %}
<!-- Button -->
<div class="widget_bottom_btn {% if carousel and carousel_b %}has-dots{% endif %}">
<a class="btn btn-contrast" href="{{ link_href ? link_href : '' }}">{{ link_title }}</a>
</div>
{% endif %}
</div>
<div class="clearfix"></div>
</div>
{% if carousel %}
<script>
$('.grid-holder.prod_module{{ module }}').slick({
{% if carousel_a %}
prevArrow: "<a class=\"arrow-left icon-arrow-left\"></a>",
nextArrow: "<a class=\"arrow-right icon-arrow-right\"></a>",
{% else %}
arrows: false,
{% endif %}
{% if direction == 'rtl' %}
rtl: true,
{% endif %}
{% if carousel_b %}
dots:true,
{% endif %}
respondTo:'min',
rows:{{ rows }},
{% if columns == '5' %}
slidesToShow:5,slidesToScroll:5,responsive:[{breakpoint:1100,settings:{slidesToShow:4,slidesToScroll:4}},{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '4' %}
slidesToShow:4,slidesToScroll:4,responsive:[{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '3' %}
slidesToShow:3,slidesToScroll:3,responsive:[{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '2' %}
slidesToShow:2,slidesToScroll:2,responsive:[
{% elseif columns == '1' or columns == 'list' %}
adaptiveHeight:true,slidesToShow:1,slidesToScroll:1,responsive:[
{% endif %}
{% if items_mobile_fw %}
{breakpoint:420,settings:{slidesToShow:1,slidesToScroll:1}}
{% endif %}
]
});
$('.product-style2 .single-product .icon').attr('data-placement', 'top');
$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
{% if carousel_a and rows > 1 %}
$(window).load(function() {
var p_c_o = $('.prod_module{{ module }}').offset().top;
var p_c_o_b = $('.prod_module{{ module }}').offset().top + $('.prod_module{{ module }}').outerHeight(true) - 100;
var p_sticky_arrows = function(){
var p_m_o = $(window).scrollTop() + ($(window).height()/2);
if (p_m_o > p_c_o && p_m_o < p_c_o_b) {
$('.prod_module{{ module }} .slick-arrow').addClass('visible').css('top', p_m_o - p_c_o + 'px');
} else {
$('.prod_module{{ module }} .slick-arrow').removeClass('visible');
}
};
$(window).scroll(function() {p_sticky_arrows();});
});
{% endif %}
</script>
    <script type="application/javascript">
        function kosarica_dodaj(product_id, scale, select) {
            let selected = $('#input-option' + select)[0];
            let default_id = $('#input-default' + select)[0].value;

            if (selected.selectedIndex > JSON.parse(scale).items.length) {
                cart.add(product_id, Number(selected.value), 'option[' + product_id + ']=' + default_id);
            } else {
                cart.add(product_id, 1, 'option[' + product_id + ']=' + selected.value);
            }
        }
    </script>
{% endif %}