{{ header }}

{% if basel_map_lat and basel_map_lon and basel_map_style == "full_width" %}
<div id="gmap" class="map-full-width">
    <div class="address-holder col-sm-5 col-md-4 col-lg-3">
    <h3 class="contrast-heading">{{ store }}</h3>
    <p>{{ address }}</p>
    <a class="uline_link to_form">{{ heading_title }}</a>
    </div>
</div>
{% endif %}
    
    <div class="container">
    
        <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
        </ul>
  
  <div class="row">
  
    {% if basel_map_lat and basel_map_lon and basel_map_style == "inline" %}
    <div id="gmap" class="col-sm-12 map-inline"></div>
    {% endif %}
  
  {{ column_left }}
    
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div id="content" class="{{ class }}">
    {{ content_top }}
      <h1 id="page-title">{{ heading_title }}</h1>
      
      <div class="row">
        
      <div class="col-sm-6 left-side">
      	<h3 class="lined-title lg margin-b35"><span><b>{{ text_contact }}</b></span></h3>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-vertical">

        <div class="row">
        
        <div class="form-group col-sm-6 required">
        <label for="input-name">{{ entry_name }}</label>
        <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
        {% if error_name %}
        <div class="text-danger">{{ error_name }}</div>
        {% endif %}
        </div>
        
        <div class="form-group col-sm-6 required">
        <label for="input-email">{{ entry_email }}</label>
        <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
        {% if error_email %}
        <div class="text-danger">{{ error_email }}</div>
        {% endif %}
        </div>
        
        </div>

        
        <div class="form-group required">
        <label for="input-enquiry">{{ entry_enquiry }}</label>
        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
        {% if error_enquiry %}
        <div class="text-danger">{{ error_enquiry }}</div>
        {% endif %}
        </div>
		
        {{ captcha }}
        
        <div class="form-group margin-b50">
        <input class="btn btn-contrast" type="submit" value="{{ button_submit }}" />
        </div>
        


        </form>
      </div>
      
      <div class="col-sm-6 right-side">
       <h3 class="lined-title lg margin-b30"><span><b>{{ heading_title }}</b></span></h3>
       
       {% if image %}
       <div class="contact-image margin-b25"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" /></div>
       {% endif %}
       
           <div class="grid-holder margin-b20">
           
           {% if open %}
           <div class="item">
           <p class="contact-detail">
           <i class="icon-clock icon"></i>
           {{ open }}
           </p>
           </div>
           {% endif %}

           <div class="item">
           <p class="contact-detail">
           <i class="icon-cursor icon"></i>
           {{ address }}
            {% if geocode %}
            <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
            {% endif %}
           </p>
           </div>
           
           <div class="item">
           <p class="contact-detail">
           <i class="icon-phone icon"></i>
           {{ telephone }}
           {% if fax %}
           <br />{{ text_fax }}: {{ fax }}
           {% endif %}
           </p>
           </div>
           
           </div>
           
        {% if comment %}
        <div class="margin-b45">
        <h3 class="lined-title lg margin-b20"><span><b>{{ text_comment }}</b></span></h3>
        {{ comment }}
        </div>
        {% endif %}        
        
        {% if locations %}
      <h3 class="lined-title lg margin-b15"><span><b>{{ text_store }}</b></span></h3>
      <div class="panel-group" id="accordion">
        {% for locations in location %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
            <div class="panel-body">
              
              
             
                
                {% if location.image %}
                <div class="contact-image margin-b25">
                <img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" />
                </div>
                {% endif %}
                
                {% if location.comment %}
                <b>{{ text_comment }}</b><br />
                {{ location.comment }}<br /><br /><br />
                {% endif %}
                
                <div class="grid-holder margin-b20">

                <div class="item">
                <p class="contact-detail">
                <i class="icon-cursor icon"></i>
                {{ location.name }}<br />
                {{ location.address }}
                {% if location.geocode %}
                <br /><a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                {% endif %}
                </p>
                </div>
                
                <div class="item">
                <p class="contact-detail">
                <i class="icon-phone icon"></i>
                {{ location.telephone }}
                {% if location.fax %}
                <br />{{ text_fax }}: {{ location.fax }}
                {% endif %}
                </p>
                </div>
                
                {% if location.open %}
                <div class="item">
                <p class="contact-detail">
                <i class="icon-clock icon"></i>
                  {{ location.open }}
                </p>
                </div>
                {% endif %}
                
                
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      
       
       
      </div> <!-- .col-sm-6 ends -->
      
      </div> <!-- .row ends -->
      
      
      
      
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{% if basel_map_style %}
<script>
	$(document).ready(function() {
		new Maplace({
			locations: [
				{
					lat: {{ basel_map_lat }},
					lon: {{ basel_map_lon }},
				}
			],
			controls_on_map: true,
			start: 1,
			map_options: {
				zoom: 15,
				scrollwheel: false}
		}).Load();
		
		{% if basel_map_lat and basel_map_lon and basel_map_style == "full_width" %}
		$('body').addClass('full-width-map');
		{% endif %}
		 
	});
</script>
{% endif %}


<script>
	$(document).ready(function() {
$(".to_form").click(function() {
    $('html, body').animate({
        scrollTop: ($(".form-vertical").offset().top - 200)
    }, 1000);
});
});
</script>

{{ footer }}