


    <h4><b>
        <a class="block" role="button" data-toggle="collapse" href="#collapsecoupon" aria-expanded="false" aria-controls="collapsecoupon">
            {{ heading_title }}  <b class="pull-right visible-xs">+</b>
        </a>
        </b></h4>
    <div class="collapse in" id="collapsecoupon">

<div class="form-vertical">
      <label class="control-label" for="input-coupon">* Kupon vrijedi za nesniženi asortiman</label>
      
        <input type="text" name="coupon" value="{{ coupon }}" placeholder="{{ entry_coupon }}" id="input-coupon" class="form-control margin-b10" />
        
<input type="button" value="{{ button_coupon }}" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-outline" />


</div>

    </div>

    <script>
        $(document).ready(function(){
            if ($(window).width() <= 768) {
                $("#collapsecoupon").removeClass("in");

            }
        });
    </script>
        
      <script><!--
$('#button-coupon').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.alert').remove();

			if (json['error']) {
				$('#content').before('<div class="col-sm-12"><div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div></div>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		}
	});
});
//--></script>