{{ header }}
<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>

    {% if attention %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success"><i class="fa fa-check"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}

    <div class="row">

        {{ column_left }}

        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-md-9 col-sm-8' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

        <div id="content" class="{{ class }}">
            {{ content_top }}
            <h1 id="page-title">{{ heading_title }}{% if weight %} ({{ weight }}){% endif %}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">

                <table class="table table-bordered border-bottom">
                    <thead>
                    <tr>
                        <td class="hidden-xs hidden-sm"></td>
                        <td colspan="2">{{ column_name }}</td>
                        <!--      <td class="hidden-xs hidden-sm">{{ column_model }}</td>-->
                        <td class="quantity">{{ column_quantity }}</td>
                        <td class="text-right hidden-xs hidden-sm">{{ column_price }}</td>
                        <td class="text-right">{{ column_total }}</td>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="remove-cell hidden-xs hidden-sm text-center">
                                <a onclick="cart.remove('{{ product.cart_id }}');" data-toggle="tooltip" title="{{ button_remove }}" class="product-remove"><i class="fa fa-times"></i></a>
                            </td>
                            <td class="image">
                                {% if product.thumb %}
                                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                                {% endif %}
                            </td>
                            <td class="name"><a class="hover_uline" href="{{ product.href }}">{{ product.name }}</a>
                                {% if not product.stock %}
                                    <span class="text-danger">***</span>
                                {% endif %}

                                {% if product.reward %}
                                    <br />
                                    <small>{{ product.reward }}</small>
                                {% endif %}
                                {% if product.recurring %}
                                    <br />
                                    <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
                                {% endif %}
                                <small class="hidden-md hidden-lg"><br />{{ column_model }}: {{ product.model }}</small>
                                <small class="hidden-md hidden-lg"><br />{{ column_price }}: {{ product.price }}</small><br />
                                <a class="btn btn-default btn-tiny hidden-md hidden-lg" style="margin-top:5px;" onclick="cart.remove('{{ product.cart_id }}');">{{ button_remove }}</a>
                            </td>
                            <!--     <td class="hidden-xs hidden-sm">{{ product.model }}</td> -->
                            <td class="quantity"> {% if product.option %}
                                    {% for option in product.option %}

                                        {% if product.quantity > 1 %}
                                            {{ product.quantity }}{{ option.value_tag }}
                                        {% else %}
                                             {{ option.value }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td class="text-right price-cell hidden-xs hidden-sm">{{ product.price }}</td>
                            <td class="text-right total-cell">{{ product.total }}</td>
                        </tr>
                    {% endfor %}
                    {% for voucher in vouchers %}
                        <tr>
                            <td class="text-center hidden-xs hidden-sm">
                                <a onclick="voucher.remove('{{ voucher.key }}');" data-toggle="tooltip" title="{{ button_remove }}" class="product-remove"><i class="fa fa-times"></i></a>
                            </td>
                            <td colspan="2" class="text-left">
                                {{ voucher.description }}<br>
                                <a class="btn btn-default btn-tiny hidden-md hidden-lg" style="margin-top:5px;" onclick="voucher.remove('{{ voucher.key }}');">{{ button_remove }}</a>
                            </td>
                            <td class="hidden-xs hidden-sm"></td>
                            <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                                    <input type="number" value="1" disabled="disabled" class="form-control qty-form" /></div>
                            </td>
                            <td class="hidden-xs hidden-sm"></td>

                            <td class="text-right total-cell">{{ voucher.amount }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>




            </form>

            <div class="row">

                <div class="col-sm-7">
                    <div class="row cart-modules">
                        {% if modules %}
                            {% for module in modules %}
                                <div class="col-sm-6 margin-b30">
                                    {{ module }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="totals-slip">
                        <div class="table-holder margin-b25">
                            <table class="table table-bordered total-list margin-b0">
                                {% for total in totals %}
                                    <tr>
                                        <td><b>{{ total.title }}:</b></td>
                                        <td class="text-right">{{ total.text }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <a href="{{ checkout }}" class="btn btn-lg btn-contrast btn-block">{{ button_checkout }}</a>
                    </div>
                </div>

            </div>

            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}