<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>

  <!--- Basic Page Needs
 ================================================== -->
  <meta charset="utf-8">
  <title>kaonekad.hr - lokalno &amp; kvalitetno</title>
  <meta name="description" content="Ponuda koju smo stvorili unutar naših trgovina Kao Nekad vam nudi svježe proizvode, potekle s domaćih polja i farmi.">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CRaleway:300,400%7CCardo:400,700%7CLibre+Franklin:200,300,400,500,600,700%7C" rel="stylesheet" media="screen" />

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="offline/css/base.css">
  <link rel="stylesheet" href="offline/css/vendor.css">
  <link rel="stylesheet" href="offline/css/main.css">

  <!-- Modernizr
  =================================================== -->
  <script src="offline/js/modernizr.js"></script>

  <!-- Favicons
  =================================================== -->
  <link rel="shortcut icon" href="offline/favi.png" >

</head>

<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser.
  Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- content-wrap -->
<div id="content-wrap">

  <!-- main  -->
  <main class="row">

    <header class="site-header">
      <div class="logo">
        <a href="index.html">kaonekad.hr - lokalno &amp; kvalitetno</a>
      </div>
    </header>

    <div id="main-content" class="twelve columns">

      <h2>Web shop je u fazi izrade.</h2>
      <hr>

      <div id="counter" class="group">
        <span>5 <em>dana</em></span>
        <span>12 <em>sati</em></span>
        <span>50 <em>minuta</em></span>
        <span>33 <em>sekundi</em></span>
      </div>

    </div><!-- /main-content form -->

    <div class="modal-toggles">
      <ul>
        <li class="about-us"><a href="#mod-about">O nama</a></li>
        <li class="location"><a href="#mod-map">Lokacija</a></li>
      </ul>
    </div><!-- /modal-toggles -->

  </main>

</div><!-- /content-wrap -->


<!-- modals
=================================================== -->

<section id="mod-about" >

  <!-- Modal toggle -->
  <div class="modal-toggle">
    <a href="#" title="close" id="modal-close">zatvori</a>
  </div>

  <div class="row about-header">

    <div class="twelve columns">

      <div class="icon-wrap">
        <i class="icon"></i>
      </div>

      <h1>kaonekad.hr - lokalno &amp; kvalitetno</h1>

    </div>

  </div> <!-- /about-header -->

  <div class="row about-content">

    <div class="twelve columns mob-whole">
      <h3 style="text-align:center">Zašto danas kupovati Kao Nekad?</h3>

      <p>Zato što je danas pravi trenutak da si osvijestimo važnost da kupujemo proizvode hrvatskih proizvođača i da mi kao trgovac a vi kao kupac potpomognete zatvaranju lanca od polja do stola.</p>

      <p>Obično se kaže da se kupuje iz navike, a svakoj navici prethodi odluka.</p>

      <p>Pitanje je odluke, ponuda postoji!</p>

      <blockquote>
        <p>Ponuda koju smo stvorili unutar naših trgovina <strong>Kao Nekad</strong> vam nudi svježe proizvode, potekle s domaćih polja i farmi.</p>
      </blockquote>

      <p>Kao što nekad nismo uvozili hranu i prehrambene proizvode, tako smo se i mi danas odlučili u svom asortimanu ponuditi isključivo proizvode koji su <strong>proizvedeni u RH</strong>.</p>

      <p>Ponuda se temelji na prihvatljivim cijenama u okruženju koje potiče domaće proizvođače i stvaranje sustava vrijednosti koji se temelji na održivom razvoju lokalne zajednice.</p>

      <p>Kupovinom <strong>Kao Nekad</strong> proizvoda Vaša odluka postaje više od kupnje, ona postaje dodatna vrijednost.</p>

      <blockquote>
        <p>Izvorni domaći proizvodi vas <strong>Kao Nekad</strong> čekaju na policama naših trgovina!</p>
      </blockquote>
    </div>





    <div class="four columns mob-whole contact">



      <h3>Lokacija:</h3>
      <p>Kao Nekad <br />
        Trakošćanska 7<br /> 10000 Zagreb, Hrvatska
      </p>




      <h3>Email:</h3>
      <p>info@kaonekad.hr
      </p>



    </div>
    <div class="eight columns mob-whole contact">




      <h3>O nama:</h3>
      <p>
        AMO DIZAJN JJ d.o.o.<br />

        Kamenarka 11, 10010 Zagreb<br />
        OIB: 60478542742 - Matični broj: 2759721 - MBS: 080761721    <br />





        Žiro račun Raiffeisen bank d.d. 2484008-1105798322<br />

        IBAN: HR2124840081105798322 - SWIFT CODE: RZBHHR2XXXX<br />



        Članovi uprave: Josipa Jukić Gojmerac<br />

        Direktor: Josipa Jukić Gojmerac<br />

        Temeljni kapital: 20.000,00 kn uplaćen u cijelosti<br />

        Trgovački sud u Zagrebu: Tt-11/5632-2
      </p>

    </div>

  </div> <!-- /about-content -->



</section><!-- /mod-about -->

<section id="mod-map" >

  <!-- Modal toggle -->
  <div class="modal-toggle">
    <a href="#" title="close" id="modal-close"><span>Zatvori</span></a>
  </div>

  <div id="map-container"></div>

  <div id="map-zoom-in"></div>
  <div id="map-zoom-out"></div>

  <address>
    Kao Nekad <br>
    Trakošćanska 7, 10000 Zagreb, Hrvatska
  </address>

</section><!-- /mod-about -->


<!-- footer
=================================================== -->
<footer class="group">

  <ul class="footer-social">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

    <li><a href="#"><i class="fa fa-instagram"></i></a></li>

  </ul>

  <ul class="footer-copyright">
    <li>&copy; Copyright 2020 AMO DIZAJN JJ d.o.o. Web by <a href="https://www.agmedia.hr">AG media</a></li>

  </ul>

</footer>



<!-- Script
=================================================== -->
<script src="offline/js/jquery-1.11.3.min.js"></script>
<script src="offline/js/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyD18A7fvegjrnE2q_CSKvz49WJ8RRi_s9k" type="text/javascript"></script>
<script src="offline/js/jquery.fittext.js"></script>
<script src="offline/js/jquery.countdown.min.js"></script>
<script src="offline/js/jquery.placeholder.min.js"></script>
<script src="offline/js/owl.carousel.min.js"></script>
<script src="offline/js/jquery.ajaxchimp.min.js"></script>
<script src="offline/js/main.js"></script>

</body>
</html>