{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" id="button-setting" title="{{ button_setting }}" data-loading-text="{{ text_loading }}" class="btn btn-info"><i class="fa fa-cog"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_install %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close pull-right" data-dismiss="alert">&times;</button>
      <i class="fa fa-exclamation-circle"></i> {{ error_install }}</div>
    {% endif %}


      <style>
          .set-size {
          }

          input, select {
              outline: 0;
          }

          .handy-box{
              padding: 5px;
              border: 1px solid #f1f1f1;
              background: #fff;
              margin-bottom: 10px;
          }

          .handy-box ul{
              list-style: none;
              padding: 0;
              margin: 0;
          }

          .handy-box ul li{
              display: inline-block;
              padding: 0;
              margin: 0;
          }
          .handy-box ul li a{
              display: block;
              padding: 5px 10px;
              margin: 5px;

          }


          .handy-box ul li a.icon-dashboard{
              background:  url(../../image/module_template/blog/dashboard.png) no-repeat left;
              background-size: 16px 16px;
              padding-left: 23px;
          }

          .handy-box ul li a.icon-category{
              background:  url(../../image/module_template/blog/category.png) no-repeat left;
              background-size: 16px 16px;
          }
          .handy-box ul li a.icon-article{
              background:  url(../../image/module_template/blog/article.png) no-repeat left;
              background-size: 16px 16px;
          }
          .handy-box ul li a.icon-author{
              background:  url(../../image/module_template/blog/author.png) no-repeat left;
              background-size: 20px 20px;
              padding-left: 30px;
          }
          .handy-box ul li a.icon-comment{
              background:  url(../../image/module_template/blog/comment.png) no-repeat left;
              background-size: 16px 16px;
          }
          .handy-box ul li a.icon-settings{
              background:  url(../../image/module_template/blog/settings.png) no-repeat left;
              background-size: 16px 16px;
          }
      </style>


      <div class="handy-box">
          <ul>

              <li><a href="{{ link_home_slider }}" class="btn btn-info"><i class="fa fa-id-card-o" aria-hidden="true"></i> Slider Screen</a></li>

              <li><a href="{{ link_home_slider_responsive }}" class="btn btn-info"><i class="fa fa-id-card-o" aria-hidden="true"></i> Slider Mobile</a></li>

              <li><a href="{{ link_home_products }}" class="btn btn-info"><i class="fa fa-cart-plus" aria-hidden="true"></i> Izdvojeni proizvodi </a></li>


              <li><a href="{{ link_izdvojene_kategorije }}" class="btn btn-info"><i class="fa fa-picture-o" aria-hidden="true"></i> Izdvojene kategorije</a></li>

              <li><a href="{{ link_kolektor_paketa }}" class="btn btn-info"><i class="fa fa-truck" aria-hidden="true"></i> Kolektor Paketa</a></li>

              <li><a href="{{ link_sync_manager }}" class="btn btn-info"><i class="fa fa-cogs" aria-hidden="true"></i> Sync Manager</a></li>

          </ul>
      </div>




    {% for row in rows %}
    <div class="row">{% for dashboard_1 in row %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-3 col-sm-6') %}
      {% for dashboard_2 in row %}
      {% if dashboard_2.width > 3 %}
      {% set class = 'col-lg-%s %s'|format(dashboard_1.width, 'col-md-12 col-sm-12') %}
      {% endif %}
      {% endfor %}
      <div class="{{ class }}">{{ dashboard_1.output }}</div>
      {% endfor %}</div>
    {% endfor %}</div>
    {{ security }}
  <script type="text/javascript"><!--
$('#button-setting').on('click', function() {
	$.ajax({
		url: 'index.php?route=common/developer&user_token={{ user_token }}',
		dataType: 'html',
		beforeSend: function() {
			$('#button-setting').button('loading');
		},
		complete: function() {
			$('#button-setting').button('reset');
		},
		success: function(html) {
			$('#modal-developer').remove();
			
			$('body').prepend('<div id="modal-developer" class="modal">' + html + '</div>');
			
			$('#modal-developer').modal('show');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});	
});	
//--></script> 
</div>
{{ footer }}